<div class="jumbotron">
	<h1>All Trips</h1>
</div>

<div class="row">
	<% @trips.each do |trip| %>
		<h3><%= link_to trip.name, trip_path(trip)%></h3>
		<p><%= trip.description %></p>
  	<p><%= link_to "Edit", edit_trip_path(trip) %> <%= link_to "Delete", trip_path(trip), method: :delete, data: { confirm: 'Are you really really really sure?' } %></p>
<% end %>

<%= link_to "New Trip", new_trip_path, class: 'btn btn-success' %>

</div>