<div class="jumbotron">
	<h1>My Trips</h1>
</div>

<div class="row">

		<%current_user.trips.each do |trip|%>
			<h3><%= link_to trip.name, trip_path(trip)  %></h3>
			<h5><%= trip.city.name%>, <%=trip.city.country %></h3> 
			<h5><%= trip.description %></h3>
		<% end %>

<%= link_to "New Trip", new_trip_path, class: 'btn btn-success' %>

</div>

