<div class="jumbotron">
	<h1><%= @trips.name %></h1>
</div>

<h4>Description:</h4>
<%= @trips.description %>

<h4>Username:</h4>

<p><%= @trips.user.username%></p>

<h4>Name:</h4>
<p><%= @trips.user.name%> </p>


<h4>City:</h4>
<p><%= @trips.city.name %></p>