<h1><%= @trip.name %></h1>

<h4>Description:</h4>
<%= @trip.description %>

<h4>Username:</h4>

<p><%= @trip.user.username%></p>

<h4>Name:</h4>
<p><%= @trip.user.first_name%> <%= @trip.user.last_name%> </p>


<h4>City:</h4>
<p><%= @trip.city.name %></p>